---
layout: default
title: QuangPham's Resume
container_class: white-background

schools:
- name: Ho Chi Minh Telecommunication University, Vietnam, 2003-2007
  degree: Bachelor of Computer Science, Software Engineering
- name: Haaga-Helia University of Applied Science, Finland, 2008-2012
  degree: Bachelor of Business Information Technology

skills:
- Solid background in Objective-C, C++, C#, Ruby, Swift, Javascript, PHP
- Experienced in iOS native development (Objective-C & Swift), hybrid app development (Cordova, IonicFramework, Sencha), Unity (C#) and Qt (QML, C++)
- Experienced in backend development with Ruby on Rails, Nodejs and Go
- Fluency in HTML, CSS, LESS, SASS, AngularJS, D3, Jquery, React, Animation, Lodash, Grunt, Bower, CMS (Drupal, Joomla, Wordpress)
- "Familiar with DevOps and Cloud services: Amazon AWS, DigitalOcean, Docker, CoreOS, Vagrant, Chef, Scripting"
- "Experienced in data sciences: data crawling/collecting and data visualization"
- Knowledge in Agile Software Development, experienced in SCRUM.

work_experiences:
- time: "Apr 2013 - Aug 2014"
  position: Software Developer
  company_name: Sayduck Oy
  tasks:
  - Developing Augmented Reality applicatons with Unity & Vuforia
  - Optimising UI for Sayduck app in iOS & Android
- time: "Jul 2012 - Apr 2013"
  position: Software Developer
  company_name: Introdex Oy
  tasks:
  - Developing iOS application with Apple native development kit
- time: "Feb 2010 - Jul 2012"
  position: Developer
  company_name: Mirum (Activeark Oy)
  company_website: http://mirumagency.com/helsinki
  tasks:
  - Developing websites (frontend and backend) using Drupal, Codelgniter, Express Engine, Joomla
  - Developing mobile website using with Drupal, Web Responsive Tech, HTML5
  - R&D on mobile framework such as Titanium and Sencha-Touch
  - Integrating 3rd party web services such Google Map API into web application and mobile application
- time: "Jan 2010 - Mar 2012"
  position: Localization Tester
  company_name: Symbio
  tasks:
  - Localization testing for mobile applications running on Nokia phones
- time: "Feb 2006 - Mar 2007"
  position: Web developer
  company_name: ABB Solution Ltd
  tasks:
  - Developing templates & components for Joomla
---

<div class="container">
	<h3>Resume</h3>

	<div class="margin-2"></div>
	<h6 class="heading"><span>Skills and Competences</span></h6>
	<ul>
		{% for skill in page.skills %}
		<li>{{skill}}</li>
		{% endfor %}
	</ul>

	<div class="margin-2"></div>
	<h6 class="heading"><span>Work Experiences</span></h6>
	<p>My experience as the developer in diverse projects with large multinational corporations such as Nokia, Nokia Siemen Network, Lumene, Hartwall, Stonesoft, Viasat, Footbalance, Nike, etc. will definitely be an asset for your business.</p>
	<ul>
		{% for experience in page.work_experiences %}
		<li>
			{{experience.time}} | {{experience.position}} at {{experience.company_name}}<br>
			{% for task in experience.tasks %}
			- {{task}}<br>
			{% endfor %}
		</li>
		{% endfor %}
	</ul>

<!--
	<div class="margin-2"></div>
	<h6 class="heading"><span>Community Contribution</span></h6>
	<ul>
		<li>Team Coordinator for <a href="https://meego.transifex.net/projects/p/meego/team/vi/">Meego Localization Project</a> (Vietnamese language)</li>
		<li>Member of <a href="http://joomlaviet.vn<">Vietnamese Localization Team</a> in Joomla Project</li>
	</ul>
-->

	<div class="margin-2"></div>
	<h6 class="heading"><span>Education</span></h6>
	<ul>
		{% for school in page.schools %}
		<li>{{school.name}}<br>{{school.degree}}</li>
		{% endfor %}
	</ul>

	<div class="margin-1"></div>
	<h6 class="heading"><span>Trainings, Seminars & Professional Development</span></h6>
	<p>
		- <a href="http://futurice.com/events/native-mobile-training-2015">Futurice Native Mobile Apps Development</a> in Helsinki, Sep 2015<br>
		- <a href="http://ngeurope.org/">AngularJS European conference</a> in Paris, Oct 2014<br>
	</p>

	<div class="margin-1"></div>
	<h6 class="heading"><span>Awards & Recognitions</span></h6>
	<p>
		- My startup <a href="http://arency.com" target="_blank">Arency</a>, which provided Augmented Reality solution, was selected in Summer of Startups 2012 in Helsinki. Watch more about us in Aalto's <a href="https://www.youtube.com/watch?v=wyNM7HN3YAE" target="_blank">youtube</a> channel<br>
		- I was chosen to be a member of Nokia Launchpad Certified Developer Program, <a href="http://wiki.meego.com/Community_Office/Community_device_program/Nokia" target="_blank">N9 Devkit program</a><br>
		- My app <a href="http://qt-apps.org/usermanager/search.php?username=quangpham&action=contents" target="_blank">Piano Chord Finder</a> won 2 awards in Nokia Qt mobile development competition 2011. Read more on Nokia blog posts at <a href="http://blog.qt.io/blog/2011/01/31/qtapps-org-early-bird-winners/" target="_blank">here</a> & <a href="http://blog.qt.nokia.com/2011/06/27/qt-apps-org-mobile-app-porting-contest-%E2%80%93-the-winners/" target="_blank">here</a><br>
		- Helsinki Mobile <a href="http://mobiledevcamp.fi/" target="_blank">Hackathon</a> winner 2010<br>
	</p>

	<div class="margin-2"></div>
	<h6 class="heading"><span>Additional Information</span></h6>
	<ul>
		<li>Languages: English (proficient), Vietnamese (native), Finnish (basic)</li>
		<li>High level of self-motivation and independence</li>
		<li>Fast self-study new technology</li>
	</ul>
</div>