---
layout: default
container_class: white-background

services:
- title: Mobile Apps Development
  description: iOS native apps & cordova/phonegap apps
  thumb: service_mobile.png
  url: contact
- title: Website Development
  description: Ruby on Rails, NodeJs, Frontend, CMS (Drupal, Wordpress, Joomla)
  thumb: service_website.png
  url: contact

profile_title: "Hi! I'm Pham, a fullstack developer in Helsinki"
profile_description: "I'm passionate about making beautiful website and mobile apps. If you are a business seeking a web presence or an employer looking to hire, you can get in touch with me here"
profile_thumb: quang1.jpg
contact_url: contact

---

<div class="container container-masonry homepage">
  <div class="inner">
    <div class="row">

      <div class="box col-sm-4 col-md-6">
        <div class="thumb featured">
          <div class="photo">
            <a href="{{site.url}}{{page.contact_url}}">
              <img src="{{site.url}}/assets/img/{{page.profile_thumb}}" alt="" width="715" height="715">
              <span class="info"><strong class="big-title">{{page.profile_title}}</strong><span class="excerpt">{{page.profile_description}}</span><em class="arrow-right"></em></span>
            </a>
          </div>
        </div>
      </div>

      {% for service in page.services %}
      <div class="box col-xs-6 col-sm-4 col-md-3">
        <div class="thumb featured homepage-service">
          <div class="photo">
            <div>
              <img src="{{ site.url }}/assets/img/{{service.thumb}}" alt="" width="434" height="434">
              <span class="info"><strong class="title">{{service.title}}</strong><span class="excerpt">{{service.description}}</span></span>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}


      {% for post in site.posts limit:2%}
      <div class="box col-xs-6 col-sm-4 col-md-3">
        <div class="thumb featured homepage-post">
          <div class="photo">
            <a href="{{post.url}}">
              <img src="{{site.url}}/assets/img/blog/cover/{{post.blog_thumb_image}}" alt="" width="434" height="434">
              <span class="info"><strong class="title">Blog/{{ post.date | date: "%b %-d" }}</strong><span class="excerpt">{{post.title}}</span></span>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>

  <div class="clear"></div>
  <div class="margin-5"></div>
</div>