---
layout: blog_page
title: Blog

---

<div class="container container-masonry">
	<div class="inner">
		<div class="row">

			{% for post in paginator.posts %}
			{% if forloop.index == 1 %}
			<div class="box col-sm-7 col-md-6">
				<div class="thumb featured">
					<div class="photo">
						<a href="{{post.url}}">
							<img src="{{site.url}}/assets/img/blog/cover/{{post.blog_thumb_image}}" alt="" width="715" height="715">
							<span class="info"><strong class="big-title">{{ post.title }}</strong><span class="excerpt">{{ post.date | date: "%b %-d, %Y" }}  {{ post.excerpt }}</span><em class="arrow-right"></em></span>
						</a>
					</div>
				</div>
			</div>
			{% endif %}

			{% if forloop.index == 2 %}
			<div class="box col-sm-5 col-md-3">
				<div class="post-box vertical clearfix">
					<a href="{{post.url}}" class="image-link arrow-icon"><img src="{{site.url}}/assets/img/blog/cover/{{post.blog_thumb_image}}" width="434" height="434" alt=""></a>
					<div class="extra-info">
						<p class="meta small">{{ post.date | date: "%b %-d, %Y" }}<p>
						<h5><a href="{{post.url}}">{{ post.title }}</a></h5>
					</div>
				</div>
			</div>
			{% endif %}

			{% if forloop.index == 3 %}
			<div class="box col-sm-6 col-md-3">
				<div class="post-box vertical clearfix">
					<div class="extra-info">
						<p class="meta small">{{ post.date | date: "%b %-d, %Y" }}</p>
						<h5><a href="{{post.url}}">{{ post.title }}</a></h5>
					</div>
					<a href="{{post.url}}" class="image-link arrow-icon dark-overlay"><img src="{{site.url}}/assets/img/blog/cover/{{post.blog_thumb_image}}" width="434" height="434" alt=""></a>
				</div>
			</div>
			{% endif %}



			{% if forloop.index == 4 or forloop.index == 5 %}
			<div class="box col-sm-6">
				<div class="post-box horizontal clearfix">
					<a href="{{post.url}}" class="image-link arrow-icon"><img src="{{site.url}}/assets/img/blog/cover/{{post.blog_thumb_image}}" width="434" height="434" alt=""></a>
					<div class="extra-info">
						<p class="meta small">{{ post.date | date: "%b %-d, %Y" }}</p>
						<h5><a href="{{post.url}}">{{ post.title }}</a></h5>
					</div>
				</div>
			</div>
			{% endif %}

			{% endfor %}

			{% if paginator.total_pages > 1 %}
			<div class="box col-sm-12 text-center">
				<div class="margin-2"></div>
				
				{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button">Prev</a>
				{% endif %}

				{% for page in (1..paginator.total_pages) %}
					{% if page == paginator.page %}
					<a class="button filled">{{ page }}</a>
					{% elsif page == 1 %}
					<a class="button" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
					{% else %}
					<a class="button" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
					{% endif %}
				{% endfor %}

				{% if paginator.next_page %}
				<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button">Next</a>
				{% endif %}
			</div>
			{% endif %}

		</div>
	</div>
</div>