---
layout: default
title: Portfolio
container_class: white-background

portfolios:
- type: Mobile Development
  projects:
  - title: Hauser Mobile
    description: Great tool for residents communication. Available for Android & iOS
    thumb: s_hauser2.jpg
    url: "https://itunes.apple.com/us/app/hauser-mobile/id992103031?mt=8"
  - title: Sayduck
    description: Sayduck app is using Augmented Reality & 3D technology to help you buying furniture
    thumb: s_sayduck.jpg
    url: "https://itunes.apple.com/us/app/sayduck-make-your-space-beautiful/id626844409?mt=8"
  - title: Introdex
    description: Introdex is an interactive business card application
    thumb: s_introdex3.jpg
    url: "https://itunes.apple.com/us/app/introdex/id566542977?mt=8"
  - title: Freedom
    description: Freedom app optimises Augmented Reality to help you buying furniture
    thumb: s_freedom.jpg
    url: "https://itunes.apple.com/us/app/freedom-furniture/id857645338?mt=8"
  - title: Boardbar
    description: Boardbar app optimises Augmented Reality to help you buying furniture
    thumb: s_boardbar.jpg
    url: "https://itunes.apple.com/us/app/bordbar/id640456133?mt=8"
  - title: Domayne
    description: Domayne app optimises Augmented Reality to help you buying furniture
    thumb: s_domayne.jpg
    url: "https://itunes.apple.com/us/app/domayne-live/id863059224?mt=8"
  - title: Piano chord finder
    description: Piano chord finder is Symbian & Meego app that helps you to find piano chord
    thumb: s_piano-chord.jpg
    url: "http://qt-apps.org/content/show.php/Piano+Chord+Finder?content=136989"
  - title: Where 2 eat
    description: Where2eat is a Symbian & Meego app that helps you to find best-place-to-eat
    thumb: s_where-2-eat2.jpg
    url: "http://qt-apps.org/content/show.php/2eat?content=136863"
- type: Web Development
  projects:
  - title: meego.com
    description: Website development with Drupal
    thumb: s_meego.jpg
    url: "http://developer.meego.com"
  - title: Topcompetitors
    description: Simple business website hosted on github
    thumb: s_topcompetitors.jpg
    url: "http://topcompetitors.com/en"
  - title: Saunalle
    description: Airbnb style website for Finnish Sauna (with Wordpress)
    thumb: s_saunalle.jpg
    url: "http://saunalle.fi"
  - title: Anu Koivunen
    description: Simple business website hosted on github
    thumb: s_anukoivunen.jpg
    url: "http://anukoivunen.com/fi/"
  - title: Outi Trast
    description: Simple business website hosted on github
    thumb: s_outi.jpg
    url: "http://trast.fi/"
  - title: Trando Oy
    description: Simple business website hosted on github
    thumb: s_trando.jpg
    url: "http://trando.fi/"

disable_ortfolios:
- title: meego.com
  description: Website development with Drupal
  thumb: s_meego.jpg
  url: "http://developer.meego.com"

testimonials:
- title: Mikko Riikkinen, Banking Consultant / Startupper
  description: Quang is a true professional in agile development. He understands the business side of new service development and he is able to turn ideas into applications in a short period of time and cost-effective.
  linkedin_url: "https://www.linkedin.com/in/riikkinen"
- title: Mikko Martikainen - CEO, Founder of Sayduck
  description: Quang has an excellent capacity to quickly learn new technologies, and he has always been very proactive in coming up with solutions to difficult problems
  linkedin_url: "https://fi.linkedin.com/pub/mikko-martikainen/1/570/900"
- title: Pasi Lindholm - CEO, Partner, Introdex Oy
  description: Quang is a very skilled and motivated software professional, who can independently develop demanding mobile phone applications and HTML/JavaScript - based services
  linkedin_url: "https://fi.linkedin.com/pub/pasi-lindholm/0/661/5b"
- title: Outi Trast - CEO, Lakiasiaintoimisto Trast Oy
  description: Quang delivered an elegant website as a "turn-key" package and also helped me to set-up website domains, hosting and email. I can warmly recommend him for other entrepreneurs
  linkedin_url: "https://fi.linkedin.com/pub/outi-trast/26/167/125"
- title: Anu Koivunen - FM (ruotsin kääntäminen ja tulkkaus, Helsingin yliopisto)
  description: Quang on osaava asiantuntija, joka kuuntelee asiakkaansa toivomuksia, ottaa vastaan palautetta ja varmistaa, että kaikki toimii niin kuin pitääkin. Suosittelen lämpimästi!
  linkedin_url: "https://fi.linkedin.com/pub/anu-koivunen/80/294/23b"

companies:
- logo: mirum.png
  website: "http://www.mirumagency.com/helsinki"
- logo: sayduck.png
  website: "http://www.sayduck.com/"
- logo: introdex.png
  website: "http://www.introdex.com/"
- logo: tds.png
  website: "http://topdatascience.com/"
- logo: wri.png
  website: "http://www.wri.fi/"
- logo: anukoivunen-com.png
  website: "http://www.anukoivunen.com/"
- logo: trast-fi.png
  website: "http://www.trast.fi/"
---

<div class="container container-masonry">
	<h6 class="heading"><span>Companies I worked with</span></h6>
	<div class="owl-carousel owl-clients owl-round-arrows">
		{% for company in page.companies %}
		<div class="client-column">
			<a href="{{company.website}}" target="_blank">
				<img src="{{ site.url }}/assets/img/companies/{{company.logo}}" width="560" height="150" alt="">
			</a>
		</div>
		{% endfor %}
	</div>
	<div class="margin-2"></div>

	{% for portfolio in page.portfolios %}
	<div class="margin-2"></div>
	<h6 class="heading"><span>{{portfolio.type}}</span></h6>
	<div class="inner">
		<div class="row">
			{% for project in portfolio.projects %}
			<div class="box col-xs-6 col-sm-4 col-md-3">
				<div class="thumb">
					<div class="photo">
						<a href="{{project.url}}" target="_blank">
							<img src="{{ site.url }}/assets/img/portfolio/{{project.thumb}}" alt="" width="434" height="434">
							<span class="info"><strong class="title">{{project.title}}</strong><span class="excerpt">{{project.description}}</span><em class="arrow-right"></em></span>
						</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="margin-2"></div>
	{% endfor %}

	
  <div class="margin-5"></div>
  <h6 class="heading"><span>What people say about me</span></h6>
	
	<div class="row">
		<div class="col-sm-12">
			<div class="testimonials-vertical-offset">
				<div class="owl-carousel owl-testimonials2 owl-red-dots owl-round-arrows">
					{% for testimonial in page.testimonials %}
					<div class="testimonial-item">
						<p>{{testimonial.description}}</p>
						<a href="{{testimonial.linkedin_url}}" target="_blank"><em class="name">{{testimonial.title}}</em></a>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="margin-3"></div>
		</div>
	</div>

</div>