/* ======= Blog Home ======= */
.blog-list {
  padding: 80px 0;
}
.blog-list .container {
  max-width: 860px;
}
.blog-list .item {
  margin-bottom: 60px;
}
.blog-list .item .post-title {
  margin-bottom: 15px;
}

.blog-list .item .meta .meta-list .post-time {
  font-size: 16px;
  display: inline-block;
  text-align: center;
  padding: 5px 15px;
  background: #818fa5;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 15px;
}
.blog-list .item .meta .meta-list .post-time span {
  display: block;
}
.blog-list .item .meta .meta-list .post-time span.date {
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 800;
  font-size: 26px;
}
.blog-list .item .meta .meta-list .post-time span.month {
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 0;
}
.blog-list .item .meta .meta-list .post-author {
  margin-bottom: 5px;
}
.blog-list .item .figure {
  margin-bottom: 15px;
  overflow: hidden;
  background: #505c70;
  text-align: center;
}
.blog-list .item .figure img {
  -webkit-transition: transform 0.4s linear;
  -moz-transition: transform 0.4s linear;
  -ms-transition: transform 0.4s linear;
  -o-transition: transform 0.4s linear;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  border: 1px solid #eeeeee;
  margin: 0 auto;
}
.blog-list .item .figure:hover img {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.pagination {
  margin-top: 90px;
}
.pagination li a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  margin-right: 5px;
  color: #65758e;
}
.pagination li a:hover {
  color: #505c70;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #c6c6c6;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #909cb0;
  border: none;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eff8fb;
  border: none;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: none;
}
/* ======= Single Blog Post ======= */

/*
.blog-post-wrapper {
  padding-top: 60px;
}
.blog-post-wrapper .title {
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 28px;
  color: #505c70;
}
.blog-post-wrapper .meta {
  font-size: 13px;
  color: #999999;
  margin-bottom: 15px;
}
.blog-post-wrapper .meta li {
  margin-right: 0;
}
.blog-post-wrapper .meta .post-author a {
  color: #999999;
}
.blog-post-wrapper .meta .post-author a:hover {
  color: #71c4e0;
}
.blog-post-wrapper .meta .post-comments-link a {
  color: #999999;
}
.blog-post-wrapper .meta .post-comments-link a:hover {
  color: #71c4e0;
}
.blog-post-wrapper .meta .post-comments-link .fa {
  margin-right: 5px;
}
.blog-post-wrapper .share-container {
  margin-bottom: 30px;
  overflow: hidden;
}
.blog-post-wrapper .share-container li {
  margin-bottom: 15px;
}
.blog-post-wrapper .comment-area {
  background: #f5f5f5;
  padding: 30px;
}
.blog-post-wrapper .comment-area .title {
  font-size: 22px;
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}
.blog-post-wrapper .comment-area .comment-container {
  margin-bottom: 60px;
}
.blog-post-wrapper .comment-area .comment-container .comment-item {
  margin-bottom: 30px;
}
.blog-post-wrapper .comment-area .comment-container .comment-item .comment-item-box {
  position: relative;
  background: #fff;
  padding: 30px;
  padding-left: 115px;
  margin-bottom: 15px;
}
.blog-post-wrapper .comment-area .comment-container .comment-item .comment-author {
  position: absolute;
  left: 30px;
  top: 30px;
}
.blog-post-wrapper .comment-area .comment-container .comment-item .comment-author img {
  width: 60px;
  height: 60px;
}
.blog-post-wrapper .comment-area .comment-container .comment-item .comment-body .name {
  color: #65758e;
  font-style: normal;
}
.blog-post-wrapper .comment-area .comment-container .comment-item .comment-body .name a {
  color: #65758e;
}
.blog-post-wrapper .comment-area .comment-container .comment-item .comment-body .name a:hover {
  color: #71c4e0;
}
.blog-post-wrapper .comment-area .comment-container .comment-item .comment-body .time {
  color: #999999;
  font-size: 13px;
  margin-bottom: 15px;
}
.blog-post-wrapper .comment-area .comment-container .comment-item .comment-body .comment-reply-link {
  padding: 5px 10px;
  font-size: 13px;
  background: #adb7c5;
}
.blog-post-wrapper .comment-area .comment-container .comment-item .comment-body .comment-reply-link:hover {
  background: #65758e;
}
.blog-post-wrapper .comment-area .comment-container .comment-item .children {
  padding-left: 30px;
}
.blog-post-wrapper .comment-area .comment-form .error {
  color: #e65348;
  font-family: arial, sans-serif;
  display: block;
  font-size: 14px;
  text-align: left;
  padding-top: 5px;
  font-weight: 300;
}
.blog-sidebar .widget {
  margin-bottom: 60px;
}
.blog-sidebar .widget a {
  color: #65758e;
}
.blog-sidebar .widget a:hover {
  color: #71c4e0;
}
.blog-sidebar .widget .title {
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 0;
  font-weight: normal;
  color: #505c70;
}
.blog-sidebar .widget ul li {
  margin-bottom: 10px;
  font-size: 15px;
}
.blog-sidebar .widget ul li .count {
  color: #999999;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.blog-sidebar .widget.recent-posts li {
  position: relative;
  padding-left: 60px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 15px;
  min-height: 80px;
}
.blog-sidebar .widget.recent-posts .thumb {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 45px;
  height: 45px;
}
.blog-sidebar .widget.recent-posts .post-info .date {
  color: #999999;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.blog-sidebar .widget.instagram .instafeed .item {
  display: inline-block;
  margin-right: 5px;
}
.blog-sidebar .widget.instagram .instafeed img {
  max-width: 75px;
  padding: 2px;
  border: 1px solid #eeeeee;
}
.blog-sidebar .widget.instagram .instafeed img:hover {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  background: #65758e;
}
.blog-sidebar .search-blog-form .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  max-width: 168px;
}
.blog-sidebar .search-blog-form .form-control {
  height: 38px;
}
.blog-sidebar .search-blog-form .btn {
  padding: 8px 12px;
}
.blog-sidebar .search-blog-form .btn .fa {
  margin-right: 0;
}
.post {
  margin-bottom: 60px;
}
.post .content .post-title {
  font-size: 22px;
}
.post .content .post-title a {
  color: #666666;
}
.post .content .post-title a:hover {
  color: #268aac;
}
.post .content .post-entry .read-more .fa {
  margin-left: 5px;
  position: relative;
  top: 1px;
}
.blog-entry .title {
  margin-bottom: 15px;
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 700;
}
.blog-entry .meta {
  margin-bottom: 15px;
}
.blog-entry .post-thumb {
  margin-bottom: 30px;
}
.blog-entry .custom-list-style {
  margin-bottom: 30px;
}
.blog-entry .custom-list-style li {
  list-style: none;
  margin-bottom: 5px;
}
.blog-entry .custom-list-style li .fa {
  margin-right: 5px;
  color: #71c4e0;
}
.blog-entry p {
  margin-bottom: 30px;
  line-height: 1.5;
}
.blog-entry .post-nav {
  margin-bottom: 60px;
}
.blog-entry .post-nav .nav-next {
  float: right;
}
.blog-entry .post-nav .nav-next .fa {
  margin-left: 5px;
}
.blog-entry .post-nav .nav-previous .fa {
  margin-right: 5px;
}
.custom-quote {
  border-color: #9bd5e9;
  font-weight: normal;
  font-style: italic;
}
.custom-quote p {
  line-height: 1.6;
}
.custom-quote .fa {
  color: #71c4e0;
  margin-right: 10px;
}
.custom-quote .source {
  font-style: normal;
}
.custom-quote .source .name {
  color: #666666;
}
.custom-quote .source .title {
  font-size: 13px;
  color: #999999;
}

*/